

@font-face {
  font-family: 'BentonSansBBVA-Book';
  src: url('../fonts/BentonSansBBVA-Book/BentonSansBBVA-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BentonSansBBVA-Book/BentonSansBBVA-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       
       url('../fonts/BentonSansBBVA-Book/BentonSansBBVA-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/BentonSansBBVA-Book/BentonSansBBVA-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BentonSansBBVA-Book/BentonSansBBVA-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'StagSans-Book';
  src: url('../fonts/stag-font/stag-web/StagSans-Book/StagSans-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/stag-font/stag-web/StagSans-Book/StagSans-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       
       url('../fonts/stag-font/stag-web/StagSans-Book/StagSans-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/stag-font/stag-web/StagSans-Book/StagSans-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/stag-font/stag-web/StagSans-Book/StagSans-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
}



