/*variables de colores*/
$blue:#009ee5;
$white:#ffffff;
$grey:#cccccc;
$black-text:#363636;
$black-question:#141414;
$dark-blue:#006ec1;
$soft-grey:#d8d8d8;
$dark-grey:#666666;

/*variables de fuentes*/
$encabezados:BentonSansBBVA-Book;
$texto:StagSans-Book;