@media (min-width: $screen-lg-min) {
     .frame-bar-right{
        display: block;
        width: 97%;
        float: left;
        background: $white;
        padding-left: 0px
    }

    .header-text{
	    font-family: $encabezados;
        font-size: 17px;
        line-height: 1.11;
        text-align: left;
        color: $black-text;
	}

	.questions-text label{
	    font-family: $texto;
        font-size: 16px;
        color: $black-question;
    }

    .select-hd {
         font-family: $texto;
         padding-right: 30px;
         font-size: 16px;
         line-height: 20px;
         color: $blue; 
    }

    .button-text{
         font-family: $texto;
         font-size: 17px;
         color: $white;
    }

    .header-table-product{
        font-family: $texto;
        font-size: 15px;
        color: $dark-blue;	
    }

    .content-table td{
	    font-family: $texto;
        font-size: 15px;
        color: $dark-grey;
    }

    .link-table-product{
	    font-family: $texto;
        font-size: 16px;
        color: $dark-blue;
        text-decoration: underline;
    }

    .cat-text p{
        font-family: $texto;
        font-size: 15px;
        line-height: 14px;
    }

    .text-amortizacion{
        font-family: $texto;
        font-size: 15px;
        line-height: 14px;
        letter-spacing: -0.1px;
        color: $black-text;
    }
    
    .small-text-amortizacion{
	    font-family: $texto;
        font-size: 15px;
        line-height: 14px;
        color: $black-text;
    }

    .menu-text{
        font-family: $encabezados;
        font-size: 15px;
        line-height: 1.11;
        text-align: left;
        color: $black-text;
    }

    #tabDestinos1 .nav-tabs li.active a {
        color: $blue;
        font-size: 15px;
        font-weight: 600;
        border-top: 5px solid $blue;
        border-left: 1px solid $soft-grey;
        border-right:1px solid $soft-grey;
        background: $white;
    }

    .blue-text-underline a{
        color:$blue;
        text-decoration: underline;
        float: right;
        padding-right: 30px;
        font-size:15px;
    }

    #tabDestinos2 .nav-pills li.active a {
        color: $blue;
        font-size: 15px;
        font-weight: 600;
        border: 2px solid $blue;
        background: $white;
        border-radius: 0px;
    }

    [class^=glyphmap24-] {
        background: transparent url(../img/tooltiplg.png) no-repeat 0 0;
        display:inline-block;
        vertical-align: middle;
        height: 25.6px;
        width: 25.6px;
    }
    .frame-bar-left{
    display: block;
    width: 3%;
    float: left;
    padding-left:8px;
    padding-top: 8px;
    }
}