@import "bootstrap/bootstrap";
@import "fonts";
@import "slider/bootstrap-slider";
@import "variables-hd";

#simulador .slider-handle {
	width: 34px;
	height: 36px;
	top: -10px;
	margin-left: -8px !important;
	padding: 0px 0;
	background-color: transparent;
	box-shadow: inset 0 0px 0 transparent;
	background-image: url(../img/Drag.png) !important;
	background-repeat: repeat-x
}

#simulador .slider.slider-horizontal {
	width: 100%
}
#simulador .slider.slider-horizontal .slider-track {
	height: 5px
}
#simulador .slider-track {
	background: $grey;
	box-shadow: none
}
#simulador .slider-selection {
	background: none
}

#simulador .slider-handle.round {
	border-radius: 5px
}

#simulador {
	background-color: $white;
	padding-bottom: 0px
}

#simulador .slider-selection {
	background-color : $blue;
}

.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-high,
.slider.slider-horizontal .slider-track-low {
	height: 100%;
	top: 0;
	bottom: 0
}

#tablaAmortizacion{
	#seccionTabla- {
	padding:10px;
	}
}

#tablaProductos{
	table{
		td{
			white-space: normal !important;
		}
		.pagination{
			margin: 0px !important;
		}
	}
}

.select-hd{	 
	font-family: $texto;
	padding-right: 30px;
	font-size: 13px; 
	line-height: 20px;
    color: $blue;
}

.flechaDesplegado{
	background-image: url(../img/select-down.png);
}

.flechaCerrado{
	background-image: url(../img/select-right.png);
}
	
.flecha-1{
	background-size: 32px;
}

.flecha-1-color{
	color:$white;	
}

.flecha-2{
	background-size: 3px;
}

.flecha-2-color{
	color:$dark-blue;
}

.frame-nav-tabs{
	border: solid 0.3px $soft-grey;
	background-color: $white;
}

.frame-tab-border-1{
	border: solid 0.3px $dark-blue;
}

.frame-tab-border-2{
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: solid 0.3px $grey;
}

.frame-tab{
	margin: 5px;
	background-color: $white;
	display: block;
	background-image: url(../img/barra.png);
	background-repeat: repeat-y;
	h4 {
		background-color: $white;
		margin: 0px;
		padding-top: 10px;
		padding-right: 0px;
		padding-bottom: 10px;
		padding-left: 10px;
	}
}

.shadding{
	background-color: $shading-header !important;
}

.frame-bar-left{
	display: block;
	width: 3%;
	float: left;
	padding-left:8px;
	padding-top: 8px;
}

.frame-bar-right{
	display: block;
	width: 100%;
	float: left;
	background: $white;
	padding-left: 0px
}

.frame-content{
	padding: 10px;
	border: 0px;
}

.encabezadoTabla {
  	color: $dark-blue;
}

.tamanioCeldasEncabezado{
	table-layout: fixed;
	width: 110px;
	vertical-align: middle !important;
}

.contenidoTabla{
  	color:$dark-grey;
}

.bordeTabla{
	border: solid 0.5px $grey;
}

.header-text{
    font-family: $encabezados;
    font-size: 14px;
    line-height: 1.11;
    text-align: left;
    color: $black-text;
}

.questions-text label{
	font-family: $texto;
	font-size: 13px;
	color: $black-question;
	padding-top: 7px;
}

.tasa-interes{
	color: $blue !important;
}

.cell-expand {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid $blue;
	padding-top: 4px;
	padding-left: 1px;
	display: block;
	float: left;
	cursor: pointer;
	font-size: 10px;
}

#seccionTablaAmort.seccion-amortizacion {
	padding-left:	10px;
	padding-right:	10px;
	padding-top:	10px;
	padding-bottom: 10px;
}

.button-text{
 	font-family: $texto;
	font-size: 14px;
 	color: $white;
}


.header-table-product{
  	font-family: $texto;
  	font-size: 12px;
  	color: $dark-blue;	
}

.content-table td{
	font-family: $texto;
	font-size: 12px;
	color: $dark-grey;
}

.link-table-product{
	font-family: $texto;
	font-size: 13px;
	color: $dark-blue;
	text-decoration: underline;
}

.cat-text p{
	font-family: $texto;
	font-size: 12px;
	line-height: 14px;
}

.text-amortizacion{
	font-family: $texto;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -0.1px;
	color: $black-text;
}

.small-text-amortizacion{
	font-family: $texto;
	font-size: 6px;
	line-height: 5px;
	color: $black-text;
}			

.menu-text{
    font-family: $encabezados;
    font-size: 12px;
    line-height: 1.11;
    text-align: left;
    color: $black-text;
}

#tabDestinos1 {
	background-color: $shading-menu;
}
#tabDestinos1 .nav-tabs {
	border: none;
	font-family: $texto;
	font-size: 15px;
}
#tabDestinos1 .nav-tabs li {
	width: 20% ; 
	float: left;
	border-radius: 0;
}	
#tabDestinos1 .nav-tabs li .active{
	border: solid 0.3px $soft-grey;
}

#tabDestinos1 .nav-tabs li a {
	border: 0 none;	
	color: $dark-grey;
	border-radius: 0;
	text-align:center;
}
#tabDestinos1 .nav-tabs li a:hover {
	background: none;
	color: $dark-blue;
}

#tabDestinos1 .nav-tabs li.active a {
	color: $blue;
	font-size: 12px;
	font-weight: 600;
	border-top: 5px solid $blue;
	border-left: 1px solid $soft-grey;
	border-right:1px solid $soft-grey;
	background: $white;
}

#tabDestinos2{
   li{
   		background-color: white;
   		color:black;
   		border: solid 1px $soft-grey;
   		margin:0px;
   }
   a{
   	text-align: center;
   }
}

#tabDestinos2 .nav-pills li.active a {
	color: $blue;
	font-size: 12px;
	font-weight: 600;
	border: 2px solid $blue;
	background: $white;
	border-radius: 0px;
}

.schedule-panel{
    display: none;
}
.schedule-panel td{
    background: $white !important;
    text-align:left;
    border-bottom: 1px solid $soft-grey !important 
}
.schedule-panel div{
    padding-left: 10px;
    padding-top: 5px;
    width: 100%;
    float: left;
    padding-bottom: 5px;
}
.blue-text-underline a{
	color:$blue;
	text-decoration: underline;
	float: right;
	padding-right: 30px;
	padding-top: 7px;
	font-size:12px;
}
.blue-text-underline img{
	margin-left:4px;
}
.padding-money-sign{
	padding-top:9px;
	font-size:17px;
}
.align-table{
	text-align: center;
}
.float-right{
	float:right;
}
.padding-datos{
	padding:10px;
}
.bold-datos h5{
	font-weight:600;
}

#simulador .slider-left p,
#simulador .slider-right p {
    font-size: 12px;
    color: $grey;
    padding-bottom: 10px
}

#simulador .slider-left p {
    text-align: left
}

#simulador .slider-right p {
    text-align: right
}
[class^=glyphmap24-] {
    background: transparent url(../img/tooltipsmmd.png) no-repeat 0 0;
    display:inline-block;
    vertical-align: middle;
    height: 25.6px;
    width: 25.6px;
}
.glyphmap24-interrogacion {
    background-position: 3px;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-image: url(../img/select-down.png)!important;
    background-repeat: no-repeat!important;
    background-position: right 2px!important
}
.margin-cero{
	margin-right: 0px;
	margin-left: 0px;
}

@import "style_sm";
@import "style_md";
@import "style_lg";
